.main-container {
    display: flex;
    flex-direction: column;
    background-color:black;
/*    height: 200px;*/
    width: 100%;
    
}

.google-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: goldenrod;
    /*width: 100%;*/
    /*height: 100px;*/
    padding: 50px;

}
.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blueviolet;
    /*height: 100px;*/
    width: 100%;

}
.search-input {   

    width: 300px;
    /*height: 2px;*/
    border: 5px solid green;
    padding: 25px;
    margin: auto;  
}
.link-container {
    display: flex;
    flex-direction: row;
    background-color: pink;
    height: 100px;
    width: 100%;
}
.bubble-link-one {
    display: flex;
    flex-direction: row;
    background-color: grey;
    height: 100px;
    width: 100%;
}
.bubble-link-two {
    display: flex;
    flex-direction: row;
    background-color: blue;
    height: 100px;
    width: 100%;
}